  
  /*
  Fecha de modificaci칩n: 21/12/2020
Autores: Gonzalo Godoy 
Vanessa Amaro
Versi칩n: 1.0
Objetivo de la p치gina: Dar funcionalidad a la p치gina
  
  
  
  
  */
        @font-face {
            font-family: "DS-Digital-Bold";
            src: url("https://assets.codepen.io/3947459/DS-DIGIB.TTF");
        }
        
        html {
            background-color: bisque;
        }

        h1 {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
                sans-serif;
            color: brown;
        }

        h2 {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
                sans-serif;
            color: brown;
        }

        p {
            font-family: 'Times New Roman', Times, serif;
            color: goldenrod;
        }

        @media only screen and (min-width: 601px) {
            div.tablita {
                font-size: auto;
            }
        }


        @media only screen and (max-width: 600px) {
            div.tablita {
                font-size: auto;
            }

        }

        img {
            height: auto;
            max-width: 100%;
        }
    #resulta1{

    
         border-color: black;
         border-style:solid;
         background-color: black;
          font-family: "DS-Digital-Bold";
          color: rgb(47, 255, 47);
          font-size: x-large;
          
          
          
         
    }
     #resulta2 {


         border-color: black;
         border-style: solid;
         background-color: black;
         font-family: "DS-Digital-Bold";
         color: rgb(47, 255, 47);
         font-size: x-large;




     }
      #resulta3 {


          border-color: black;
          border-style: solid;
          background-color: black;
          font-family: "DS-Digital-Bold";
          color: rgb(47, 255, 47);
          font-size: x-large;




      }
.group {
    display: inline-block;
}